.h1-home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lexend Giga', sans-serif;
    margin-top: 30%;
    font-size: 45px;
    height: 40vh;
}
